.home {
  header {
    h2 {
      margin: 1rem 0;
    }
    @media @mobile {
      width: 100%;
      padding: 0 1rem;
    }
  }
  .content-section {
    margin: 30px 0;
    display: flex;

    div:first-child {
      margin-right: 3rem;
    }

    .text-content {
      flex: 1 1 450px;
    }
    .img-content {
      flex: 1 1 350px;
      img {
        border-radius: 10px;
      }
    }
    @media @mobile {
      display: block;
      margin: 30px 0;
      padding: 1rem;
      div:first-child {
        margin-right: unset;
      }
      > * {
        margin: 1rem auto;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    @media @mobile {
      display: block;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;
    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;
    .destination {
      width: 30%;
      margin-bottom: 30px;
      .btn {
        .rounded-button-large(@white, @eastern-blue, 8px);
      }
    }
    @media @mobile {
      display: block;
      .destination {
        padding: 0 10%;
        width: 100%;
      }
    }
  }
  @media @mobile {
    padding: 1rem;
    .text-content {
      width: 100%;
      margin: auto;
    }
    .img-content {
      width: 100%;
      text-align: center;
    }
  }
} // home
