header#top {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  h1 {
    flex: 1 1 300px;
  }
  nav {
    flex: 1 1 500px;
    text-align: right;
    a {
      padding: 1rem;
      color: black;
      font-size: 1.2rem;
      text-decoration: none;
    }
  }
}
